*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    position:relative;
    background-color: 	#1b7c72;
    transition: background-color 0.5s, color 0.5s;
    color: #000; 
}
.contener{
    background-color:	#fff0e5;
    border-radius: 0% 0% 59% 59% / 0% 0% 100% 100% ;
    padding: 10px 20px;
    box-shadow: 0px 5px 80px 5px  #3b3b3b;
    
}


.span1{
    color: #fca311;
}
.span2{
    color: #28a89b;
}
header , main{
    display: block;
}
 header{
    width: 100%;
    height: 300px;
}
h1{
    text-align: left;
    font-size: 60px;
    color: 	#28a89b;
}
p {
    margin-top: 10%;
    padding: 20px;
    font-size: 35px;
    font-weight: bold;
    color: 	#000000;
}
main{
    padding-top: 20px;
    overflow: auto;
    padding: 10px 10px;
    margin-bottom: 20px;
}
.main-paragraf{
    padding: 10px;
    text-align: center;
}
.im1 {
    float: right;
    position: relative;
}
.im1{
    width: 250px;
    height: 240px;
    border-radius: 50%;
}
.im1 {
    
    transition: transform 0.3s ease;
    box-shadow: 5px 5px 40px 5px  #3b3b3bd3;
    
}

.im1:hover  {
    transform: scale(1.1); 
}


footer {
    display: block;
    background-color: black;
    color: white;
    padding: 20px;
}

.footer-block {
    display: flex;
    justify-content: center;
}

.footer-block a {
    margin: 0 10px; 
}

.footer-block img {
    width: 70px; 
    height: 70px; 
}

.dark-mode {
    transition: color 0.5s;
    background-color: #222;
    color: #fff; 
}
.dark-mode p {
    transition: color 0.5s;
    color: #fff;
}
.dark-mode .contener {
    transition: color 0.5s;
    background-color: #f96363;
}
.dark-mode .span1  {
    transition: color 0.5s;
    color: #fff;
}
.dark-mode .span2  {
    transition: color 0.5s;
    color: #000;
}
.dark-mode h1{
    transition: color 0.5s;
    color: #000;
}
.dark-mode .button1{
    transition: color 0.5s;
    background-color: #000;
    color: #fff;

}

.button1 {
    position: fixed;
    top: 20px;
    right: 20px;
     z-index: 9999;
    background-color: #2c2f33;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.button1:hover{
    transform: scale(1.1); 
    transition:  0.5s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
